<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- añado tipografia -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital@1&display=swap" rel="stylesheet">

    <!--añado iconos  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>

</head>
<body>
    <header>
        <img src="./images/img-home-banner.jpg" alt="logo">
    </header>
    <main>

        </a> <img src="./images/logo-mercado-liebre.svg" alt="logo">
                

        <nav> buscar </nav>  

        <section> </section>        

        <i class="fa-sharp fa-solid fa-hand-holding-heart"></i> <section class="titulo"> compra en cuotas y sin tarjeta de credito </section>


        <ul>
            <li> <h2> <a href="">Ofertas</a> </h2> </li> 
            <li> <a href="">Tiendas Oficiales</a> </li>
            <li> <a href="">Vender</a> </li>
            <li> <a href="">Ayuda</a> </li>

            <li> <a href="">Crea tu cuenta</a> <i class="fa-solid fa-shop"></i> </li> 
            <li> <a href="">Ingresa</a> <i class="fa-solid fa-right-to-bracket"></i>  </li> 
            <li> <a href="">Mis compras</a> <i class="fa-solid fa-bag-shopping"></i> </li> 
        </ul>
            
        <span class="burger-menu">
        <i class="fas fa-bars"></i>
        </span>

        <span class="burger-menu2">
            <i class="fa-solid fa-phone"></i>
            </span>

        <h2> Basado en tu ultima visita </h2>

        <article>              
           <section class="img"> <img class="imagen" src="./images/img-cafetera-moulinex.jpg" alt="logo"> </section>
            <i class="fa-solid fa-truck"></i>
            <p> $6.770 </p>
            <p id="descuentos"> 40% OF  F </p> 
            <p id="des"> Cafetera Moulinex </p> 

        </article>
      
        <article>              
            <img class="imagen" src="./images/img-macbook-pro-2019.jpg" alt="logo">
            <i class="fa-solid fa-truck"></i>
            <p id="precio"> $230.000 </p>
            <p id="descuentos"> 20% off </p> 
            <p id="des"> MacBook Pro 2019 </p> 

        </article>

        <article>              
            <img class="imagen" src="./images/img-samsung-galaxy-s10.jpg" alt="logo">
            <i class="fa-solid fa-truck"></i>
            <p id="precio"> $70.500 </p>
            <p id="descuentos"> 10% off </p> 
            <p id="des"> Samsung Galaxy S10 </p> 

        </article>

        <article>              
            <img class="imagen" src="./images/img-tv-samsung-smart.jpg" alt="logo">
            <p id="precio"> $23.200 </p>
            <p id="descuentos"> 5% off </p> 
            <p id="des"> SmartTv Samsung 43" </p> 

        </article>

        <h2> Sección de Ofertas </h2>

        <article>              
            <img class="imagen" src="./images/img-cafetera-moulinex.jpg" alt="logo">
            <p id="precio"> $6.770 </p>
            <p id="descuentos"> 40% OFF </p> 
            <p id="des"> Cafetera Moulinex </p> 

        </article>

        <article>              
            <img class="imagen" src="./images/img-macbook-pro-2019.jpg" alt="logo">
            <p id="precio"> $230.000 </p>
            <p id="descuentos"> 20% off </p> 
            <p id="des"> MacBook Pro 2019 </p> 

        </article>

        <article>              
            <img class="imagen" src="./images/img-samsung-galaxy-s10.jpg" alt="logo">
            <p id="precio"> $70.500 </p>
            <p id="descuentos"> 10% off </p> 
            <p id="des"> Samsung Galaxy S10 </p> 

        </article>

        <article>              
            <img class="imagen" src="./images/img-tv-samsung-smart.jpg" alt="logo">
            <p id="precio"> $23.200 </p>
            <p id="descuentos"> 5% off </p> 
            <p id="des"> SmartTv Samsung 43" </p> 

        </article>

    </main>

    <footer>

<h4> Pagá con tarjeta o en efectivo </h4>
<p>  Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!</p>

<h4> Envío gratis desde $ 2.500 </h4>

<p> x Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos </h3>

<h4> Seguridad, de principio a fin </h4>

<p>  ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@ </p>

<p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </footer>
</body>
</html>